{% extends 'adminapp/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="row justify-content-md-center">
  <div class="col-7">
    <p>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-outline-primary btn-block">Сохранить</button>
    </form>
    </p>
    <p>
      <a href="{% url 'admin:categories' %}" class="btn btn-outline-secondary btn-block" role="button"
        aria-pressed="true">К списку категорий</a>
    </p>
  </div>
</div>
{% endblock content %}
